.wrap.h_services {
    overflow: hidden; 
}
.h_gallery-header-wrap {
	background: #353535;
}
.h_gallery-header {
	display: flex;
	align-items: center;
	padding: 40px 0;
	position: relative;
}
.h_gallery-header .title {
	margin-right: 115px;
}
.h_gallery-header .title h3{
	font-size: 30px;
	color: #fff;
	font-weight: normal;
	font-family: "Perpetua Titling MT";
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight: 300;
}
.h_gallery-header .nav li {
	padding: 0;
	margin-left: 15px;
	margin-right: 15px;
}
.h_gallery-header .nav a {
	color: #adadad;
	font-size: 16px;
	font-weight: 300;
	transition: all .3s ease-in-out;
}
.h_gallery-header .nav a:hover {
	color: white;
}
.h_gallery-header .nav a.active {
	font-weight: 500;
	color: white;
}
.h_gallery-header .-more {
	position: absolute;
	top: 50%;
	right: 0;
	font-family: "Poppins";
	font-weight: bold;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	transform: translateY(-50%);
	padding-left: 10px;
}
.h_gallery-header .-more:before {
	width: 30px;
	height: 1px;
	background: white;
	position: absolute;
	content: '';
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
}
.h_gallery-items .h_g-fit img {
	transition: all .8s ease-in-out;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-50%, -50%);*/
}
.h_gallery-items .h_g-fit:before {
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	position: absolute;
	z-index: 2;
	opacity: 0;
	transition: all .8s ease-in-out;
}
.h_gallery-items .h_g-fit:focus:before {
	opacity: 0;
}
.h_gallery-items:hover .h_g-fit img {
	-webkit-filter: blur(2px);
            filter: blur(2px);
}
.h_gallery-items:hover .h_g-fit:before {
	opacity: 1;
}
.h_gallery-items:hover .h_g-fit:hover:before {
	opacity: 0;
}
.h_gallery-items:hover .h_g-fit:hover img {
	-webkit-filter: none;
            filter: none;
	/*transform: none;*/
}
.h_g-fit {
	padding-bottom: 75%;
	height: .1px;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.h_g-fit img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}
.thumb-hover-1 {
	position: relative;
	transition: all .3s ease-in-out;
}
.thumb-hover-1:hover:before {
	opacity: 0;
}

@media (max-width: 991.82px) {
	.h_gallery-header {
		flex-wrap: wrap;
		justify-content: center;
	}
	.h_gallery-header .title {
		margin-bottom: 30px;
		width: 100%;
		margin-right: 0;
	}
	.h_gallery-header .title h3 {
		text-align: center;
	}
	.h_gallery-header .nav {
		width: 100%;
		justify-content: center;
		margin-bottom: 40px;
	}
	.h_gallery-header .-more {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		padding-left: 0;
		box-sizing: border-box;
	}
	.h_gallery-header .-more:before {
		opacity: 0;
		width: 0%;
		top: calc(100% + 1px);
		right: 50%;
		transform: translateX(50%);
		transition: all .3s ease-in-out;
	}
	.h_gallery-header .-more:hover:before {
		opacity: 1;
		width: 100%;
	}
	.h_gallery-header .nav li:first-child {
		margin-left: 0;
	}
	.h_gallery-header .nav li:last-child {
		margin-right: 0;
	}
}

@media (max-width: 575.82px) {
	font-size: 25px;
}