<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Seog Responsive web template, Bootstrap Web Templates" />
  <title>Seog Business Category Bootstrap Responsive Web Template | Services :: w3layouts</title>
  <link
    href="//fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">
</head>
<body>
  <!--/header-w3l-->
  <div class="header-w3l">
    <!-- header -->
    <header id="site-header" class="fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
          <a class="navbar-brand" href="index.html">
            SE<span class="fab fa-xbox sub-logo"></span>G
          </a>
          <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
          <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="services.html">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="search-bar ml-lg-3 mr-lg-5 mt-lg-0 mt-4">
                <!--/search-right-->
                <form class="search position-relative">
                  <input type="search" class="search__input" name="search" placeholder="Search here.."
                    onload="equalWidth()" required="">
                  <span class="fas fa-search search__icon"></span>
                </form>

                <!--//search-right-->
              </li>

            </ul>

          </div>
          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox">
                  <div class="mode-container">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
        </nav>
      </div>
    </header>
    <!-- //header -->
  </div>
  <!--//header-w3l-->
  <!--/w3l-inner-page-breadcrumb-->
  <section class="w3l-inner-page-breadcrumb">
    <div class="breadcrumb-bg py-5">
      <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
        <h2 class="title pt-5">Our Services</h2>
        <ul class="breadcrumbs-custom-path mt-3 text-center">
          <li><a href="index.html">Home</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Services </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //w3l-inner-page-breadcrumb-->
  <!-- home page block grids -->
  <section class="w3l-two-servicses py-5" id="services2">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row bottom-ab-grids">
        <div class="col-lg-6 bottom-ab-left align-self">
          <h6 class="title-subhny">What We Offer</h6>
          <h3 class="title-w3l mb-4">We love what we do & we do it with passion!</h3>
          <p class="">Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia acere aperiam sequi optio consectetur adipisicing
            dolor et amet. </p>
          <ul class="w3l-right-book mt-4">
            <li><span class="fa fa-check"></span>Pellen tesque libero ut justo</li>
            <li><span class="fa fa-check"></span>Lorem ipsum dolor sit amet elit</li>
            <li><span class="fa fa-check"></span>Pellen tesque libero ut justo</li>
          </ul>
        </div>
        <div class="col-lg-6 bottom-right-grids pl-lg-5 mt-lg-0 mt-5">
          <img src="assets/images/b3.jpg" alt="" class="radius-image img-fluid">
        </div>
      </div>
    </div>
  </section>
  <!-- //home page block grids -->
    <!--/w3l-content-3-->
    <section class="w3l-content-3 py-5">
      <!-- /content-6-section -->
      <div class="content-3-info py-3">
        <div class="container py-lg-4">
          <div class="welcome-left text-center">
            <h6 class="title-subhny mb-2">Info</h6>
            <h3 class="title-w3l two">Services that create identities, build brands, and get results</h3>
           <p class="para mt-4 px-lg-5">Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia acere aperiam sequi optio consectetur adipisicing dolor et amet.</p>
            <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="#">
              Read More</a>
          </div>
        </div>
      </div>
    </section>
    <!--//w3l-content-3-->
  <!--/serices-6-->
  <section class="w3l-serices-6 py-5" id="services1">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="title-content text-center">
        <h6 class="title-subhny text-center">Reasons Why</h6>
        <h3 class="title-w3l mb-sm-5 mb-4 pb-sm-o pb-2 text-center">We're trusted by clients</h3>
      </div>
      <div class="grids-area-hny text-center row mt-lg-4">
        <div class="col-lg-4 col-md-6 grids-feature">
          <div class="area-box icon-blue">
            <span class="fas fa-paint-brush"></span>
            <h4><a href="#feature" class="title-head">Design</a></h4>
            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed et dolor
              amet.</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
          <div class="area-box icon-pink">
            <span class="fas fa-chess-queen"></span>
            <h4><a href="#feature" class="title-head">Strategy</a></h4>
            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et
              amet.</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
          <div class="area-box icon-yellow">
            <span class="fas fa-bullhorn"></span>
            <h4><a href="#feature" class="title-head">Marketing</a></h4>
            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et
              amet.</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 grids-feature mt-lg-5 mt-4">
          <div class="area-box icon-yellow">
            <span class="fas fa-users"></span>
            <h4><a href="#feature" class="title-head">
              Consulation</a></h4>
            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et
              amet.</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 grids-feature mt-lg-5 mt-4">
          <div class="area-box icon-yellow">
            <span class="fas fa-video"></span>
            <h4><a href="#feature" class="title-head">Video Production</a></h4>
            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et
              amet.</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 grids-feature mt-lg-5 mt-4">
          <div class="area-box icon-yellow">
            <span class="fas fa-layer-group"></span>
            <h4><a href="#feature" class="title-head">
              Development</a></h4>
            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et
              amet.</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//services-6-->
    <!-- footer -->
    <footer class="w3l-footer-29-main">
      <div class="footer-29-w3l py-5">
        <div class="container py-lg-5 py-md-3">
          <div class="w3l-footer-texthny-inf text-center">
            <h6 class="foot-sub-title mb-1">LET’S WORK TOGETHER</h6>
            <h4><a href="mailto:seogexample@mail.com" class="mail">Seogexample@mail.com</a></h4>
            <div class="main-social-footer-29 mt-4 mb-lg-5 mb-4">
              <a href="#facebook" class="facebook"><span class="fab fa-facebook-f"></span></a>
              <a href="#twitter" class="twitter"><span class="fab fa-twitter"></span></a>
              <a href="#instagram" class="instagram"><span class="fab fa-instagram"></span></a>
              <a href="#linkedin" class="linkedin"><span class="fab fa-linkedin-in"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- //footer -->
    <!-- copyright -->
    <section class="w3l-copyright">
      <div class="container">
        <div class="row bottom-copies">
          <p class="col-lg-8 copy-footer-29">© 2020 Seog. All rights reserved. Design by <a
              href="https://w3layouts.com/" target="_blank">
              W3Layouts</a></p>
          <div class="col-lg-4 footer-list-29">
            <ul class="d-flex text-lg-right">
              <li><a href="#careers"> Careers</a></li>
              <li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>

        </div>
      </div>
    </section>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </footer>
  <!--//footer-->
  <!-- Template JavaScript -->
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/theme-change.js"></script>
 
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>